.header {
  position: relative;
  @include xxl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    height: 80px;
    padding: 0;
    z-index: 10;
    .header-left {
      padding-left: 30px;
    }
  }
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  @include xxl {
    display: none;
  }
  display: flex;
  li {
    list-style: none;
    padding: 20px 20px;
    font-size: 24px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    background: linear-gradient(to right, rgb(66, 87, 85), rgb(29, 27, 31))
      border-box;
    padding: 5px;
  }
  .red {
    color: #e713cd;
  }
}
