.header {
  position: relative;
  @include xxl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    height: 80px;
    padding: 0;
    z-index: 10;
    .header-left {
      @include xxl {
        padding-top: 8px;
      }
      padding-left: 30px;
    }
  }
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  img:hover {
    cursor: pointer;
  }
}
.navigation {
  @include xxl {
    display: none;
  }
  display: flex;
  li {
    list-style: none;
    padding: 20px 20px;
    font-size: 24px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    background: linear-gradient(to right, rgb(66, 87, 85), rgb(29, 27, 31))
      border-box;
  }
  .red {
    color: #e713cd;
  }
}
// Bandomoji versija
.test {
  @include xxl {
    .header {
      #abc {
        position: absolute;
        top: 12px;
        right: 0;
      }
      align-items: start;
    }
    .navigation {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #f079e2;
      width: 100%;
      margin-top: 80px;
      li {
        display: flex;
        justify-content: center;
        .red {
          color: white;
        }
      }

      .header-right {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
