.section-boxes {
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 100px;
  .section-boxes-title {
    @include sm {
      width: 30%;
    }
    h3 {
      font-size: 40px;

      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      padding: 0 0 50px 0;
    }
    .word {
      color: black;
    }
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .box {
    display: flex;
    flex-direction: column;
    .orange {
      color: orange;
    }
    .gray {
      color: gray;
    }
    .bold {
      font-weight: bold;
      font-size: 20px;
    }
    .before {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .info-list {
    position: relative;
    background: rgb(173, 166, 166);
    background: linear-gradient(
      31deg,
      rgba(173, 166, 166, 1) 0%,
      rgba(255, 247, 247, 1) 60%
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  li {
    list-style: none;
    padding: 5px 5px;
  }

  .before::before {
    content: url(SVG/Before/image\ 2.svg);
    position: absolute;
    left: 52%;
    top: 35%;
  }
  .left {
    padding-left: 20px;
  }
  .right {
    padding-right: 20px;
  }
}
